<p>STATUS: {{form.status}}</p>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="mb-3">
        <label for="name" class="form-label">Nombre: </label>
        <input formControlName="name" type="text" name="name" id="name" class="form-control" placeholder="Nombre" >
        <p *ngIf="name.errors?.pattern" class="text-danger text-center">Ingrese su primer nombre y su primer apellido</p>  
    </div>
   
    <div class="mb-3">
        <label style="text-align: left;"for="edad" class="form-label">Edad: </label>
        <input formControlName="age" type="text" class="form-control" name="edad" id="edad" placeholder="Edad" >
        <p *ngIf="age.errors?.pattern" class="text-danger text-center">Ingrese una edad válida*</p>
    </div>
    <div class="mb-3">
        <label for="genero" class="form-label">Genero: </label>
        <input formControlName="genre" type="text" class="form-control"name="genero" id="genero" placeholder="Genero" >
        <p *ngIf="genre.errors?.pattern" class="text-danger text-center">Ingrese una edad válida*</p>

    </div>
    <div class="mb-3">
        <label for="pais" class="form-label" >Pais: </label>
        <select formControlName="country" name="pais" class="form-select" id="pais" (change)="onSelect($event)">
            <option *ngFor="let country of countries" value="{{country.value}}">{{country.name}}</option>
        </select>
        <!-- <p class="text-danger text-center">La edad es requerida *</p>    -->
    </div>
    <div class="mb-3">
        <label for="estado" class="form-label">Estado: </label>
        <select formControlName="city" name="estado" class="form-select" id="estado">
            <option value="0">Seleccionar ...</option>
            <option *ngFor="let city of cities" value="{{city.value}}">{{city.name}}</option>
        </select>
        <p class="text-danger text-center">La edad es requerida *</p>   
    </div>
    <div class="mb-3">
        <button type="submit" [disabled]="!form.valid" id="button" class="btn btn-primary">Aceptar</button>
    </div>
</form>