<form action="" id="form1" name="f1">
    <div class="mb-3">
        <label for="nombre" class="form-label">Nombre: </label>
        <input type="text" name="nombre" id="nombre" [(ngModel)]="model.nombre" class="form-control" placeholder="Nombre" >
    </div>
   
    <div class="mb-3">
        <label for="edad" class="form-label">Edad: </label>
        <input type="text" class="form-control" name="edad" id="edad" [(ngModel)]="model.edad" placeholder="Edad" >
    </div>
    <div class="mb-3">
        <label for="genero" class="form-label">Genero: </label>
        <input type="text" class="form-control"name="genero" id="genero" [(ngModel)]="model.genero" placeholder="Genero" >
    </div>
    <div class="mb-3">
        <label for="pais" class="form-label" >Pais: </label>
        <select name="pais" class="form-select" id="pais" [(ngModel)]="model.pais">
            <option value="{{pais.value}}"  *ngFor="let pais of paises">{{pais.name}}</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="estado" class="form-label">Estado: </label>
        <select name="estado" class="form-select" id="estado" [(ngModel)]="model.ciudad">
            <div *ngIf="model.pais">
                <option  *ngFor="let pais of paises_MX" value="{{pais.name}}">{{pais.name}}</option>
            </div>
            
        </select>
    </div> 
    <div class="mb-3">
        <button class="btn btn-primary" [disabled]="btn_activo" (click)="onClick()"> Aceptar</button>
</div>
</form>